html {
	background-image: url('../assets/images/background.png');
	height:100%;
}
@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
}

.navBar {
	float: right;
}

ul {
	display: inline;
}
ul a {
	text-decoration: none;
}

.logo {
	font-family: 'Roboto', Arial;
	position:relative;
	margin-top: -50px;
	
}
.radioBtns {
	color: black;
	position: absolute;
	left: 65%;
	top: 100px;
}
#searchFlights {
	position:absolute;
	top: 250px;
	left: 40%;
	height: 55px;
	width: 100px;
}
.searchBox {
	position: relative;
	margin-left:5%;
	margin-top:5%;
}
#airplane {
	position: absolute;
	height: 320px;
	opacity: .4;
	background-color:white;
	filter: blur(20px);
	width:95%;
	border-style: solid;
	border-color: black;
}
.labelInputGroupMaster {
	position: relative;
	top: 150px;
	left: 15%;
	display: inline;
}
.labelInputGroupChild {
	position: relative;
	left: 12%;
	display: inline;
}
.labelInputGroupMaster input, .labelInputGroupChild input {
	position:absolute;	
	width: 130px;
	height: 30px;
}
.labelInputGroupMaster label, .labelInputGroupChild label {
	color: black;
	font-size: 20px;
	font-family: 'Roboto', Helvetica;
	font-weight: bold;
	position:absolute;	
	bottom: 0;
}